@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Prevent scrollbars */
    background-color: #ffe4e6;
    /* Soft Warm Pink */
}

canvas {
    touch-action: none;
}