@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    min-height: -webkit-fill-available;
    /* Mobile fix */
    overflow: hidden;
    /* Prevent scrollbars */
    background-color: #ffe4e6;
    /* Soft Warm Pink */
}

canvas {
    touch-action: none;
}

@keyframes float {
    0% {
        transform: translateY(0px);
        opacity: 0.5;
    }

    50% {
        transform: translateY(-20px);
        opacity: 0.8;
    }

    100% {
        transform: translateY(0px);
        opacity: 0.5;
    }
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}